<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/Base.css" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <title>Delivery Best</title>
    </head>
    <body>
        <div class="Page">
            <header>
                <nav class="navbar navbar-light bg-light" id="Nav">
                    <div class="navbar-brand">
                        <img src="static/images/del.png">
                        <img src="static/images/best.png">
                        <!-- <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span> -->
                        <button class="Login" id="Button">
                            <img src="static/images/profile.png" alt="" style="vertical-align:middle">
                            Войти
                        </button>
                        <button class="Logout" id="Button">
                            <img src="static/images/login.png" alt="" style="vertical-align:middle">
                            Зарегестрироваться
                        </button>
                    </div>
                    <br>
                    <div class="alert alert-light bg-light" role="alert" id="Busket">
                        <img src="static/images/busket.jpg" alt="" style="vertical-align:middle">
                        Корзина
                    </div>
                </nav>
            </header>
            <div id="Content" class="Page2">
                <div class="Topics"></div>
                <section class="Menu">
                    <div class="Products">
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Популярные
                                </div>
                                <ul class="In_topic">
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/tvister_original.jpg');">
                                            <img src="static/images/tvister_original.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/tvister_hot.jpg');">
                                            <img src="static/images/tvister_hot.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/box_master.jpg');">
                                            <img src="static/images/box_master.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/busket_s.jpg');">
                                            <img src="static/images/busket_s.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/busket_m.jpg');">
                                            <img src="static/images/busket_m.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                    <li class="Product">
                                        <div class="Product_img" style="background-image:url('static/images/busket_l.jpg');">
                                            <img src="static/images/busket_l.jpg" class="Product_imd_hidden">
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Комбо
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Бургеры
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Твистеры
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Курица
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Баскеты
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Снэки
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Соусы
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Напитки
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                        <div class="Topic">
                            <section>
                                <div class="Name_of_topic">
                                    Десерты
                                </div>
                                <ul class="In_topic">

                                </ul>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <main role="main" class="container">
            {% block content %}
            {% endblock %}
        </main>
		<a href="#" title="Вернуться к началу страницы" id="BtnTop">Вверх</a>
    </body>
</html>
